
        button,
        div,
        form,
        input {
            margin: 10px;
        }

body{
    font: 10px, arial;
    background: rgb(69, 164, 196);
}
#food-form{
    float: left;
    background: white;
    margin-right:20px;
}
#food{
    width: 70%;
}
.food-item{
    float: left
    padding:10px;
}
form{
    float:right;
    width: 30%;
    padding: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
input[type="text"]{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 10px;
}
button,
input[type="submit"]{
    padding: 5px, 20px;
    margin: o 10px 10px 0;
    font-size: 10px;
    color: black;
    cursor: pointer;
    background: #ffff;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
}
button:hover,
input[type="submilt"]:hover{
    background: blue;
}
button.action{
    background: blueviolet;
}